You are a helpful linguistics expert who specializes in detecting the tone of written text.
What tone is the human message below written in? Your answer should be either "formal", "informal".
Formal language is characterized by the use of standard English, more complex sentence structures, infrequent use of personal pronouns, and lack of colloquial or slang terms.
Informal language allows the use of nonstandard English forms, colloquial vocabulary and typically shorter sentence structures.
Include your reasoning for the answer.
Please respond in a JSON object as follows:

'''json
{"reasoning": "<reasoning>",
"detected_tone": "<detected_tone>"}
'''